@import "../../styles/var";

.back-button {
  margin-left: 0px;
  margin-bottom: 15px;
}

.title-wrapper {
  text-align: center;
  margin-top: -35px;

  h2 {
    font-weight: 400;
    color: white !important;
  }
}

.sub-heading {
  padding-top: 0px;
  padding-top: 5px;
  margin-bottom: 8px;
  color: $grey-main;
  font-size: 14px;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
  height: 426px;
}

.button {
  width: 293px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.warning-wrapper {
  text-align: center;
  height: 23px;
  margin-top: -13px;
  margin-bottom: 3px;

  .warning {
    color: red;
    font-size: 11px;
    margin: 3px;
  }
}

.input {
  color: white;
  background: none;
  border-radius: 5px;
  width: 293px;
  margin-bottom: 10px;
  text-indent: 8px;
  border-width: 1px;
  margin-bottom: 12px;
}

.heading {
  font-weight: 600;
  font-size: 17px;
}

.security {
  @extend .heading;
  &:hover {
    cursor: pointer;
  }
}

.about {
  @extend .heading;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
  }
}
