@import "../../styles/var";

$settings-width: 293px;

.back-button {
  margin-left: 0px;
  margin-bottom: 15px;
}

.title-wrapper {
  text-align: center;
  margin-top: -35px;

  h2 {
    font-weight: 400;
    color: white !important;
  }
}

:global(.light-mode) {
  .title-wrapper {
    h2 {
      color: $light-mode-grey !important;
    }
  }
}

.output {
  min-height: px;
}

:global(.light-mode) {
  .output {
    color: $light-mode-grey;
  }
}

.sub-heading {
  padding-top: 0px;
  padding-top: 10px;
  margin-bottom: 8px;
  color: $grey-main;
  font-size: 14px;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  overflow: visible;
  height: 513px;
}

:global(.light-mode) {
  .wrapper {
    background-color: rgb(236, 241, 243);
  }
}

.button {
  width: $settings-width;
  border-radius: 5px;
  margin-bottom: 8px;
}

.warning-wrapper {
  text-align: center;
  height: 23px;
  margin-top: -13px;
  margin-bottom: 3px;

  .warning {
    color: red;
    font-size: 11px;
    margin: 3px;
  }
}

.input {
  font-size: 13px;
  padding: 3px 0;
  border-width: 1px;
  margin-bottom: 10px;
  width: 100%;
  background: inherit;
  color: #9ab4bf;
  border-color: #9ab4bf;
  text-indent: 5px;
  border-radius: 5px;
  box-shadow: none;

  &.-webkit-input-placeholder {
    /* Chrome/Opera/Safari/Edge */
    color: #9ab4bf;
  }

  &.-moz-placeholder {
    /* Firefox 19+ */
    color: #9ab4bf;
  }

  &.-moz-placeholder {
    /* Firefox 18- */
    /*Firefox by default has an opacity object that usually is ideal to reset so it matches webkit*/
    color: #9ab4bf;
  }
}

:global(.light-mode) {
  .input {
    color: black;
  }
}

.heading {
  font-weight: 600;
  font-size: 17px;
}

.main-button {
  @extend .heading;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
  }
}

:global(.light-mode) {
  .main-button {
    color: $light-mode-grey;
  }
}

.about-section {
  margin-top: 10px;
  margin-left: 5px;
}

:global(.light-mode) {
  .about-section {
    color: $light-mode-grey;
  }
}

.pill-group {
  width: 100%;

  button {
    height: 30px;
    width: $settings-width/2;
    border-radius: 5px;
    margin-bottom: 8px;
    height: 24px;
    line-height: 4px;
  }
}

.drop-button {
  width: 100%;
  text-align: left;
  background-color: $fetch-blue;
  color: white;
  padding: 2px;
  text-indent: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;

  &.show-dropdown {
    border-radius: 5px 5px 0 0;
  }
}

:global(.light-mode) {
  .drop-button {
    background-color: rgb(236, 241, 243);
    color: black;
  }
}

.drop-button:hover,
.drop-button:focus {
  background-color: $fetch-blue;
}

:global(.light-mode) {
  .drop-button:hover,
  .drop-button:focus {
    background-color: darken(rgb(236, 241, 243), 10%);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $fetch-blue;
  color: white;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-style: none solid solid solid;
  border-radius: 0 0 5px 5px;
  border-width: 1px;
}

:global(.light-mode) {
  .dropdown-content {
    background-color: rgb(236, 241, 243);
    border-color: $light-mode-grey;
    color: black;
  }
}

.dropdown-content div {
  color: white;
  padding: 3px 5px;
  text-decoration: none;
  display: block;
}

:global(.light-mode) {
  .dropdown-content div {
    color: black;
  }
}

.dropdown a:hover {
  background-color: $grey;
}

:global(.light-mode) {
  .dropdown a:hover {
    background-color: $light-mode-grey;
  }
}

.show-dropdown {
  display: block;
}

.svg {
  height: 20px;
  transform: rotate(270deg);
  float: right;
  padding-right: 5px;
  margin-right: 5px;
}

.closeIcon {
  font-size: 8px;
  float: right;
  margin-right: 4px;
  color: $grey-main;
  margin-top: 3.5px;
}

.closableRow {
  display: block;
}

.customNetworkForm {
  label {
    font-size: 10px;
    margin: 6px 0px 3px 4px;
    color: $grey-main;
  }

  input,
  output {
    border-style: solid !important;
    font-size: 13px;
    padding: 3px 0;
    border-width: 1px;
    width: 100%;
    background: inherit;
    color: $grey-main;
    border-color: $grey-main;
    text-indent: 5px;
    border-radius: 5px;
  }

  button {
    margin-top: 22px;
  }
}

.active {
  background-color: rgb(46, 69, 87) !important;
}

:global(.light-mode) {
  .active {
    background-color: darken(rgb(236, 241, 243), 10%) !important;
  }
}

.output-text {
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
}

:global(.light-mode) {
  .output-text {
    color: black;
  }
}

.expandable {
  margin-top: 15px;
}
