$background-color: none;
$popup-size-width: 337px;
$popup-size-height: 599px;
$header-height: 64px;
$layout-padding: 12px;
$layout-margin: 12px;
$main-card-padding: 16px;

$grey: #8888;
$grey-no-opacity: rgba(80,80,81,1);
$grey-main: rgba(154, 180, 191, 1);
$fetch-blue: #1e2844