@charset "utf-8";

@import "~argon-dashboard-react/src/assets/plugins/nucleo/css/nucleo.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap");

$font-family-base: "Open Sans", sans-serif;


$body-color: black;
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard-react";

@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

@import "../../../palette";

@import "var";


html {
  width: $popup-size-width;
  height: $popup-size-height;
  margin: auto;
  background-attachment: fixed;
  background-image: linear-gradient(to right, #1e2844, #0d0d0d);
  height: 100%;
  overflow: auto;
}

body {
  width: $popup-size-width;
  height: $popup-size-height;
  background:none;
  color: white;
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.form-text,
.valid-feedback,
.invalid-feedback {
  position: absolute;
  color:red;
  &:focus {
  border-color:pink;
  }
}

.invalid-feedback {
  &:focus {
  border-color:pink;
  }
}

.blue {
    background-color: rgba(88, 135, 218, .3);
    border-color: rgba(88, 135, 218, 1);
    border-style: solid;
    border-width:2px;
    color: white;
  }


#green, .green {
    background-color: rgba(43, 181, 162, .25);
     border-color: rgba(43, 181, 162, 1);
     border-style: solid;
     border-width:1px;
     color: white;
  }

.white-border {
  border-style:solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
      font-size: 18px;
}

.white-border:focus {
    background: none;
    color: white;
   border-color: white;
      font-size: 18px;
}

#hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: inherit;
}

.form-control {
  color: white;
  background: none;

  &:focus {
    color: white;
  }

}

button[data-loading="true"] {
  color: transparent !important;
  pointer-events: none;

  &::after {
    position: absolute !important;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));

    -webkit-animation: spinAround 0.5s infinite linear;
    animation: spinAround 0.5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
  }
}
