@charset "utf-8";

@import "~argon-dashboard-react/src/assets/plugins/nucleo/css/nucleo.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap");

$font-family-base: "Open Sans", sans-serif;

$body-color: black;
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard-react";

@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

@import "../../../palette";

@import "var";
@import "mixin";

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #1c2846 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
  &.is-invalid {
    -webkit-text-fill-color: red !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


html {
  width: $popup-size-width;
  height: $popup-size-height;
  margin: auto;
  background-attachment: fixed;
  background-image: linear-gradient(to right, #1e2844, #0d0d0d);
  height: 100%;
  overflow: auto;
}

body {
  width: $popup-size-width;
  height: $popup-size-height;
  background: none;
  color: white;
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}

.white-border {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.red {
  border-color:red !important;;
  color:red  !important;;
  &:focus {
    color:red !important;
  }
}

.is-invalid {
   @extend .red;

    &.focus {
       border-color:red !important;
    }
  }

.is-invalid::-webkit-input-placeholder {
  color: red;

    &.focus {
       color: white;
    }
}

.on-change-remove-error:focus {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: white!important;
  color: white !important;
  }

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.form-text,
.valid-feedback,
.invalid-feedback {
  position: absolute;
  color: red;
}

.grey-hover {
    &:hover {
     background-color: $grey;
     border-color:white;
     color: white;
  }
}

.blue {
  background-color: rgba(88, 135, 218, 0.3);
  border-color: rgba(88, 135, 218, 1);
  border-style: solid;
  border-width: 2px;
  color: white;
  @extend .grey-hover;
}

#green,
.green
{
  background-color: rgba(43, 181, 162, 0.25);
  border-color: rgba(43, 181, 162, 1);
  border-style: solid;
  border-width: 1px;
  color: white;
  @extend .grey-hover;
}

#green:disabled {
  @extend .green;
  cursor: not-allowed;
}

#green-solid
{
  background-color: rgba(43, 181, 162, .25);
  border-style: none;
  color: white;
}

.lock-border {
   @extend .white-border;
  border-radius: 5px;
  font-size: 18px;
}

.lock-border:focus {
   @extend .white-border;
  background: none;
  font-size: 18px;
}

#hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid white;
}

.form-control {
  color: white;
  background: none;

  &:focus {
     background: none;
     color: white;
     @extend .white-border;
  }
}



button[data-loading="true"] {
  color: transparent !important;
  pointer-events: none;

  &::after {
    position: absolute !important;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));

    -webkit-animation: spinAround 0.5s infinite linear;
    animation: spinAround 0.5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
  }
}
