@import "../../../palette";
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.input {
  box-shadow: $input-alternative-box-shadow !important;

  border:none;
  &:focus {
    box-shadow: $input-focus-alternative-box-shadow !important;
    background: none;
    border:none;

    & + .select {
      box-shadow: $input-focus-alternative-box-shadow !important;
    }
  }
}

.fet {
      margin: auto;
    padding-right: 10px;
}

.select {
  box-shadow: $input-alternative-box-shadow !important;
  border: none;
  text-align-last: center;

  flex: 0 !important;
  min-width: 100px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.balance {
  float: right;
  font-weight: normal;
  color: #555555;

  &.clickable {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: black;
    }

    &.clicked {
      color: black;
    }
  }
}
