@import "../../../palette";
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";


.input {
  box-shadow: $input-alternative-box-shadow !important;

  border:none;
  &:focus {
    box-shadow: $input-focus-alternative-box-shadow !important;
    background: none;
    border:none;

    & + .select {
      box-shadow: $input-focus-alternative-box-shadow !important;
    }
  }
}

:global(.light-mode) {
 .input {
   box-shadow: none !important;
   &:focus {
     box-shadow: none !important;
   }
      & + .select {
        box-shadow: none !important;
      }
   }
 }

.fet {
      margin: auto;
    padding-right: 10px;
}

.select {

  background-color: inherit;
  color: white;
  box-shadow: $input-alternative-box-shadow !important;
  border: none;
  text-align-last: center;

  flex: 0 !important;
  min-width: 75px;
    margin-right: 10px;
  & option {
    background-color: #1e2844;
    color: white;
    border-radius: 5px;
    border-color: white;
  }

}

:global(.light-mode) {
  .select {
     color: $light-mode-grey
     & option {
         background-color: #eaf1f3;
    }
  }
}

.balance {
  float: right;
  font-weight: normal;
  color: #555555;

  &.clickable {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: black;
    }

    &.clicked {
      color: black;
    }
  }
}
