.buttons {
  display: flex;

  .button {
    flex: 1;
    padding: 0.3rem 0.5rem;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);

    &:focus {
      z-index: unset;
    }

    .title {
      font-weight: bold;
    }

    .fiat {
      font-size: 10px;
    }

    .coin {
      font-size: 10px;
    }

    &:hover {
      background-color: lightgrey;
    }
  }
}
