.buttons {
  display: flex;

  .button {
    flex: 1;
    padding: 0.3rem 0.5rem;

    &:focus {
      z-index: unset;
    }

    .title {
      font-weight: bold;
    }

    .fiat {
      font-size: 10px;
    }

    .coin {
      font-size: 10px;
    }

    &:hover {
      background-color: lightgrey;
    }
  }
}
