.container-account {
  display: flex;
  flex-direction: row;
}

.address {
  border: solid 1px #e6e6e6;
  border-radius: 100px;
  padding: 0 16px;
  font-size: 14px;
  color: #DCDCDC;
  cursor: pointer;
  width: 100%;
}
